boto3
botocore
click
cookiecutter
dataframe_image
Flask
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
matplotlib
matplotlib-inline
mlflow
notebook
notebook-shim
openpyxl
pandas
pandas-profiling
plotly
scikit-learn==0.23.2
psycopg2-binary==2.9.3
pycaret==2.3.10
pyodbc
requests
SQLAlchemy
streamlit
streamlit-aggrid
xgboost