<style>

h1 {
    margin-top:-40px;
}

[data-testid="stImage"] img{
    padding:0px;
    position:fixed;
    top:30px;
    width:300px;
}

[data-testid="metric-container"]{
    border:1pt solid black;
    border-radius:4px;
    height:120px;
    width:120px;
    padding:10px;
}

</style>